# Web
DATABASE_URL="file:./dev.db"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace-with-openssl-rand-hex-32"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
TERMAG_ALLOWED_EMAIL=""
TERMAG_ROOTS='{"WIP":"/Users/greg/WIP"}'

# Agent
TERMAG_URL="ws://localhost:3000/api/ws/agent"
TERMAG_AGENT_TOKEN=""
TERMAG_AGENT_ROOTS='{"WIP":"/Users/greg/WIP"}'
